:root{
    --dark-text: rgb(0, 0 ,0);
    --light-text: rgb(230, 230, 230);

    --dark-bg-hero: rgb(40, 40, 40);
    --dark-bg-container: rgb(30, 30, 30);
    --dark-bg-footer: rgb(0, 0, 0);

    --light-bg-hero-container: rgb(255, 255, 255);
    --light-bg-footer: rgb(240, 240, 240);
}

@keyframes one{
    0% {transform: none}
    25% {transform: translate(300px, 0px);}
    50% {transform: translate(300px, 300px);}
    75% {transform: translate(0px, 300px);}
    100% {transform: none}
}
@keyframes two{
    0% {transform: none}
    25% {transform: translate(0px, 300px);}
    50% {transform: translate(-300px, 300px);}
    75% {transform: translate(-300px, 0px);}
    100% {transform: none}
}
@keyframes three{
    0% {transform: none}
    25% {transform: translate(0px, -300px);}
    50% {transform: translate(300px, -300px);}
    75% {transform: translate(300px, 0px);}
    100% {transform: none}
}
@keyframes four{
    0% {transform: translate(0px);}
    25% {transform: translate(-300px, 0px);}
    50% {transform: translate(-300px, -300px);}
    75% {transform: translate(0px, -300px);}
    100% {transform: none}
}
*{
    font-family: 'Hind Siliguri', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background: var(--light-bg-hero-container);
    color: var(--dark-text);
}
html{
    scroll-behavior: smooth;
}
::selection{
    background: rgb(182, 182, 182);
}
::-webkit-scrollbar{
    background: rgb(187, 187, 187);
    width: 10px;
}
::-webkit-scrollbar-track{
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  background: rgb(88, 88, 88); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
  background: rgb(145, 145, 145); 
}
.hero{
    align-items: center;
    padding-left: 10px;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    justify-content: space-between;
}
.inner-hero{
    transform: translateX(-100vw);
    transition: 1s ease-in-out;
}
.hero-animation{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.animation{
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}
.animation a{
    position: absolute;
    width: 600px;
    height: 600px;
    z-index: 2;
}
.quarter{
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}
.one{
    background: rgb(255,81,81);
    background: linear-gradient(135deg, rgba(255,81,81,1) 0%, rgba(255,136,57,1) 100%);
    animation: one 20s infinite ease-in-out;
}
.two{
    background: rgb(81,166,255);
    background: linear-gradient(135deg, rgba(81,166,255,1) 0%, rgba(20,84,255,1) 100%);
    animation: two 20s infinite ease-in-out;
}
.three{
    background: rgb(251,255,81);
    background: linear-gradient(135deg, rgba(251,255,81,1) 0%, rgba(255,181,20,1) 100%);
    animation: three 20s infinite ease-in-out;
}
.four{
    background: rgb(203,81,255);
    background: linear-gradient(135deg, rgba(203,81,255,1) 0%, rgba(20,143,255,1) 100%);
    animation: four 20s infinite ease-in-out;
}
.one, .two, .three, .four{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    box-shadow:
    0px 0px 3.6px rgba(0, 0, 0, 0.045),
    0px 0px 10px rgba(0, 0, 0, 0.065),
    0px 0px 24.1px rgba(0, 0, 0, 0.085),
    0px 0px 80px rgba(0, 0, 0, 0.13)
  ;
}
.container{
    background: var(--light-bg-hero-container);
    position: absolute;
    top: 100vh;
    width: 100%;
    z-index: 2;
}
.hero h1{
    line-height: 80px;
    font-size: 70px;
}
.hero h2{
    opacity: .8;
}
.cards{
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    margin: auto;
    width: 85%;
}
.card-wrapper{
    background: var(--dark-bg-container);
    border-radius: 10px;
    height: 300px;
    width: 300px;
    margin: 5%;
}
.html-card, .css-card, .js-card, .php-card, .sql-card{
    box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    100px 100px 80px rgba(0, 0, 0, 0.07);
    background: var(--light-bg-hero-container);
    transition: 100ms;
    border-radius: 10px;
    font-size: 23px;
    display: block;
    padding: 25px;
    height: 300px;
    width: 300px;
}
.card-move{
    transform: translate(5px, -5px);
}
.html-card{
    border: 2px solid rgb(252, 99, 71);
}
.css-card{
    border: 2px solid rgb(71, 166, 255);
}
.js-card{
    border: 2px solid rgb(219, 223, 0);
}
.php-card{
    background: rgb(142,81,255);
    background: linear-gradient(135deg, rgba(142,81,255,1) 0%, rgba(71,166,255,1) 100%);
    height: 400px;
    color: white;
}
.php{
    margin: auto;
    width: min-content;
    height: inherit;
    color: var(--light-text);
    margin-top: 5%;
}

footer{
    border-top: 30px solid rgb(245, 245, 245);
    background: var(--light-bg-footer);
    justify-content: center;
    padding: 50px 15px;
    margin-top: 150px;
    font-size: 23px;
    flex-wrap: wrap;
    display: flex;
}
form{
    width: 100%;
}
.socials{
    width: 100%;
    margin-bottom: 50px;
}
.row{
    align-items: center;
    transition: 200ms;
    margin-top: 10px;
    cursor: pointer;
    display: flex;
}
.row:hover{
    transform: translateX(2px);
}
.row img{
    border: 1px solid var(--dark-bg-footer);
    background: var(--dark-bg-footer);
    border-radius: 8px;
    width: 50px;
    opacity: .9;
}
.row a{
    text-decoration: none;
    margin-left: 10px;
    color: var(--dark-text);
}
form input, form textarea{
    background: rgb(219, 219, 219);
    border-radius: 5px;
    padding: 5px 10px;
    max-height: 220px;
    transition: 200ms;
    max-width: 430px;
    font-size: 20px;
    outline: none;
    border: none;
    resize: none;
    color: var(--dark-text);
    width: 100%;
}
.submit{
    margin-top: 10px;
}
.submit:hover{
    background: rgb(172, 172, 172);
    cursor: pointer;
}
@media (prefers-color-scheme: dark) 
{
    body{
        background: var(--dark-bg-hero);
        color: var(--light-text);
    }
    .hero{
        background: var(--dark-bg-hero);
    }
    .inner-hero{
        color: var(--light-text);
    }
    .container{
        background: var(--dark-bg-container);
    }
    ::selection{
        background: rgb(102, 102, 102);
    }
    ::-webkit-scrollbar{
        background: rgb(0, 0, 0);
        width: 10px;
    }
    ::-webkit-scrollbar-track{
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb{
      background: rgb(88, 88, 88); 
      border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb:hover{
      background: rgb(68, 68, 68); 
    }
    form input, form textarea{
        background: var(--dark-bg-container);
        color: var(--light-text);
    }
    footer{
        border-top: 30px solid rgb(17, 17, 17);
        background: var(--dark-bg-footer);
    }
    .card-wrapper{
        background: var(--light-bg-hero-container)
    }
    .html-card, .css-card, .js-card, .php-card, .sql-card{
        background: rgb(30, 30, 30);
    }
    .submit:hover{
        background: rgb(59, 59, 59);
    }
    .row a{
        color: var(--light-text);
    }
    .php-card{
        background: rgb(142,81,255);
        background: linear-gradient(135deg, rgba(142,81,255,1) 0%, rgba(71,166,255,1) 100%);
        height: 400px;
    }
}
@media only screen and (min-width:900px)
{
    .hero{
        padding-left: 100px;
    }
    form input, form textarea{
        width: 90%;
    }
    form{
        width: 50%;
    }
    .socials{
        justify-content: center;
        display: flex;
        width: 50%;
    }
    footer{
        padding: 150px 0px;
    }
}
@media only screen and (max-width:1300px)
{
    .animation{
        display: none;
    }
}
