*{
    font-family: 'Hind Siliguri', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background: rgb(255, 255, 255);
    color: rgb(15, 15, 15);
}
::selection{
    background: rgb(182, 182, 182);
}
::-webkit-scrollbar{
    background-color: rgb(187, 187, 187);
    width: 10px;
}
::-webkit-scrollbar-track{
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  background: rgb(88, 88, 88); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
  background: rgb(145, 145, 145); 
}
.hero{
    align-items: center;
    padding-left: 10px;
    display: flex;
    height: 100vh;
    width: 100%;
}
.arrow{
    text-align: center;
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
    display: block;
    width: 70px;
    left: 0;
    right: 0;
    bottom: 20px;
}
.hero h1{
    line-height: 80px;
    font-size: 70px;
}
.hero h2{
    opacity: .8;
}
.cards{
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    margin: auto;
    width: 85%;
}
.html-card, .css-card, .js-card, .php-card, .sql-card{
    box-shadow: 12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    100px 100px 80px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    font-size: 23px;
    display: block;
    padding: 25px;
    height: 300px;
    width: 300px;
    margin: 5%;
}
.html-card{
    border: 2px solid rgb(252, 99, 71);
}
.css-card{
    border: 2px solid rgb(71, 166, 255);
}
.js-card{
    border: 2px solid rgb(219, 223, 0);
}
.php-card{
    border: 2px solid rgb(142, 81, 255);
}
.sql-card{
    border: 2px solid rgb(25, 117, 255);
}
footer{
    border-top: 30px solid rgb(245, 245, 245);
    background: rgb(240, 240, 240);
    justify-content: center;
    padding: 50px 15px;
    margin-top: 150px;
    font-size: 23px;
    flex-wrap: wrap;
    display: flex;
}
form{
    width: 100%;
}
.socials{
    width: 100%;
    margin-bottom: 50px;
}
.row{
    align-items: center;
    transition: 200ms;
    margin-top: 10px;
    cursor: pointer;
    display: flex;
}
.row:hover{
    transform: translateX(2px);
}
.row img{
    border: 1px solid black;
    background: black;
    border-radius: 8px;
    width: 50px;
    opacity: .9;
}
.row a{
    text-decoration: none;
    margin-left: 10px;
    color: black;
}
form input, form textarea{
    background-color: rgb(219, 219, 219);
    border-radius: 5px;
    padding: 5px 10px;
    max-height: 220px;
    transition: 200ms;
    max-width: 430px;
    font-size: 20px;
    outline: none;
    border: none;
    resize: none;
    color: black;
    width: 100%;
}
.submit:hover{
    background: rgb(172, 172, 172);
    cursor: pointer;
}
@media (prefers-color-scheme: dark) 
{
    body {
        background-color: rgb(30, 30, 30);
        color: rgb(225, 225, 225);
    }
    ::selection{
        background: rgb(102, 102, 102);
    }
    ::-webkit-scrollbar{
        background-color: rgb(0, 0, 0);
        width: 10px;
    }
    ::-webkit-scrollbar-track{
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb{
      background: rgb(88, 88, 88); 
      border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb:hover{
      background: rgb(68, 68, 68); 
    }
    form input, form textarea{
        background: rgb(29, 29, 29);
        color: rgb(225, 225, 225);
    }
    footer{
        border-top: 30px solid rgb(17, 17, 17);
        background: rgb(0, 0, 0);
    }
    .submit:hover{
        background: rgb(59, 59, 59);
    }
    .row a{
        color: rgb(225, 225, 225);
    }
}
@media only screen and (min-width:900px)
{
    .hero{
        padding-left: 100px;
    }
    form input, form textarea{
        width: 90%;
    }
    form{
        width: 50%;
    }
    .socials{
        justify-content: center;
        display: flex;
        width: 50%;
    }
    footer{
        padding: 150px 0px;
    }
}